<h1>Could the stroke possibly be a...</h1>

<p>In the following study you will be shown strokes taken from hand
drawn sketches.  You will be asked to make a decision about each
stroke, telling us whether or not it could <b>possibly be</b> a
polyline, polygon, line, arc or ellipse.  You should choose Yes if it
is at all possible that someone drew the stroke while trying to draw
that shape.</p>

<ul>
<li><b>Y</b> for Yes
<li><b>N</b> for No
<li><b>U</b> for Undo if you think you made a mistake
</ul>
</p>

<p>You can use the keyboard shortcuts indicated on the buttons.
However, due to bugs in some browsers, <b>for the first stroke you may
have to click one of the buttons with the mouse but subsequent strokes
should respond to keystrokes.</b></p>
