<h2>The possible categories are:</h2>

<table border="1">
<tr>
<th>Category</th>
<th>Description</th>
<th>Example</th>
</tr>

<tr>
<td>Line</td>
<td>A line</td>
<td><img src="line.png"></td>
</tr>

<tr>
<td>Polygon</td>
<td>A closed shape made up entirely of lines</td>
<td><img src="polygon.png"></td>
</tr>

<tr>
<td>Polyline</td>
<td>A connected series of 2 or more line segments that is not a
polygon.</td>
<td><img src="polyline.png"></td>
</tr>

<tr>
<td>Ellipse</td>
<td>A circle or an ellipse.</td>
<td><img src="ellipse.png"></td>
</tr>

<tr>
<td>Arc</td> <td>An unclosed arc.  It can be a portion of a circle or
ellipse but should not be a complete circle or ellipse.</td> 
<td><img src="arc.png"></td> 
</tr>

<tr>
<td>Other</td>
<td>Anything that doesn't fit into the previous categories.</td>
<td></td>
</tr>
</table>
