<h1>Choose the best label</h1>

<p>In the following study you will be shown a hand drawn sketch with
one stroke highlighed in <font color=red>red</font>.  You should
select the category that best labels the highlighted stroke.  The
categories are described below.</p>

To make your choice choose:
<ul>
<li><b>A</b> for Arcs
<li><b>L</b> for Lines
<li><b>P</b> for Polylines
<li><b>G</b> for polyGons
<li><b>E</b> for Ellipses and circles
<li><b>O</b> for Other.  This is for anything that doesn't fit into
any other category.
<li><b>U</b> for Undo if you think you made a mistake
</ul>
</p>

<p>You can use the keyboard shortcuts indicated on the buttons.
However, due to bugs in some browsers, <b>for the first stroke you may
have to click one of the buttons with the mouse but subsequent strokes
should respond to keystrokes.</b></p>

