<h2>Notes about browsers and Java</h2>

You will have to have Java 1.4 running in your browser for this to
work.  You can install the jre which should install plugins for you
browser as well.  It can be found at: 
<a href="http://java.sun.com/j2se/1.4.2/download.html">
http://java.sun.com/j2se/1.4.2/download.html</a>