<TITLE>Stroke Labeling</TITLE>
<H2>Stroke Labeling</H2>'
<APPLET CODE="edu.mit.sketch.label.LabelApplet"
        ARCHIVE="labeling.jar" WIDTH=1024 HEIGHT=480>
<PARAM NAME=labelTask VALUE=Context>
</APPLET>